In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('reordered_hltv_db.csv', low_memory = False)

In [4]:
data.shape

(39381, 141)

In [7]:
data.head()

,match_id,match_link,match_date,match_time,home_team_country,away_team_country,home_team_name,away_team_name,home_team_link,away_team_link,...,at_p5_name,at_p5_link,at_p5_kills,at_p5_headshots,at_p5_asists,at_p5_deaths,at_p5_kast,at_p5_adr,at_p5_fk_diff,at_p5_rating20
0,2325943,/matches/2325943/kinguin-vs-mibr-zotac-cup-mas...,2018-08-26,10:35:00,Poland,Brazil,Kinguin,MIBR,/team/6134/kinguin,/team/9215/mibr,...,FalleN,/stats/players/2023/FalleN,7,0,7,8,88.2,47.2,1,1.16
1,2325780,/matches/2325780/nexus-vs-x-kom-kalashnikov-cup,2018-08-24,20:00:00,Romania,Poland,Nexus,x-kom,/team/7187/nexus,/team/8846/x-kom,...,Patitek,/stats/players/14670/Patitek,8,4,0,19,31.8,44.6,-1,0.43
2,2325964,/matches/2325964/bpro-vs-havu-ggbet-summer-europe,2018-08-24,18:00:00,Bulgaria,Finland,Bpro,HAVU,/team/6762/bpro,/team/7865/havu,...,sAw,/stats/players/7821/sAw,13,7,7,22,74.3,61.1,-1,0.83
3,2325739,/matches/2325739/mibr-vs-flash-zotac-cup-maste...,2018-08-24,20:20:00,Brazil,China,MIBR,Flash,/team/9215/mibr,/team/7660/flash,...,Summer,/stats/players/7028/Summer,5,0,0,16,29.4,44.8,-1,0.23
4,2325967,/matches/2325967/kon-denmark-vs-kon-finland-ki...,2018-08-24,21:00:00,Denmark,Finland,KoN Denmark,KoN Finland,/team/6417/kon-denmark,/team/6420/kon-finland,...,p12,/stats/players/17644/p12,17,4,5,23,62.1,66,-1,0.82

In [8]:
data_astralis_home = data[data['home_team_name']=='Astralis']

In [11]:
data_astralis_home = data_astralis_home[['away_team_name', 'home_team_name','vote_ban','home_first_score', 'away_first_score']]

In [12]:
data_astralis_home

,away_team_name,home_team_name,vote_ban,home_first_score,away_first_score
341,Dignitas,Astralis,"\n ,\n ...",11,4
366,Luminosity,Astralis,"\n ,\n ...",6,9
388,Luminosity,Astralis,"\n ,\n ...",7,8
609,Method,Astralis,"\n ,\n ...",11,4
633,Method,Astralis,"\n ,\n ...",14,1
...,...,...,...,...,...
37676,Liquid,Astralis,"1. Astralis removed Cache,2. Liquid removed Tr...",7,8
37891,mousesports,Astralis,"1. Astralis removed Cache,2. mousesports remov...",12,3
37894,mousesports,Astralis,"1. Astralis removed Cache,2. mousesports remov...",9,6
37969,Liquid,Astralis,"1. Liquid removed Train,2. Astralis removed Ca...",7,8
37987,Liquid,Astralis,"1. Liquid removed Train,2. Astralis removed Ca...",14,1

In [15]:
data_astralis_home.isnull().sum()

away_team_name      0
home_team_name      0
vote_ban            0
home_first_score    0
away_first_score    0
dtype: int64

In [18]:
data_astralis_home['win'] = data_astralis_home.apply(lambda x: 1 if x['home_first_score'] >= x['away_first_score'] else 0, axis=1)

C:\Users\kunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
data_astralis_home.head()

,away_team_name,home_team_name,vote_ban,home_first_score,away_first_score,win
341,Dignitas,Astralis,"\n ,\n ...",11,4,1
366,Luminosity,Astralis,"\n ,\n ...",6,9,0
388,Luminosity,Astralis,"\n ,\n ...",7,8,0
609,Method,Astralis,"\n ,\n ...",11,4,1
633,Method,Astralis,"\n ,\n ...",14,1,1

In [20]:
data_astralis_home.describe()

       home_first_score  away_first_score         win
count        332.000000        332.000000  332.000000
mean           8.753012          6.210843    0.659639
std            2.975097          2.965685    0.474546
min            2.000000          0.000000    0.000000
25%            6.000000          4.000000    0.000000
50%            9.000000          6.000000    1.000000
75%           11.000000          9.000000    1.000000
max           15.000000         13.000000    1.000000

In [30]:
data_astralis_home.to_csv('Astralis_home_data.csv')

In [23]:
data_astralis_away = data[data['away_team_name']=='Astralis']

In [24]:
data_astralis_away

,match_id,match_link,match_date,match_time,home_team_country,away_team_country,home_team_name,away_team_name,home_team_link,away_team_link,...,at_p5_name,at_p5_link,at_p5_kills,at_p5_headshots,at_p5_asists,at_p5_deaths,at_p5_kast,at_p5_adr,at_p5_fk_diff,at_p5_rating20
136,2302395,/matches/2302395/fnatic-vs-astralis-esl-pro-le...,2016-04-26,20:00:00,Sweden,Denmark,fnatic,Astralis,/team/4991/fnatic,/team/6665/astralis,...,device,/stats/players/7592/device,18,3,2,29,53.7,46.9,-1,0.70
345,2300428,/matches/2300428/mousesports-vs-astralis-dream...,2016-01-22,17:00:00,Germany,Denmark,mousesports,Astralis,/team/4494/mousesports,/team/6665/astralis,...,karrigan,/stats/players/429/karrigan,22,8,4,28,63.4,58.8,0,0.90
620,2300594,/matches/2300594/g2-vs-astralis-game-show-glob...,2016-02-05,18:00:00,France,Denmark,G2,Astralis,/team/5995/g2,/team/6665/astralis,...,dupreeh,/stats/players/7398/dupreeh,23,8,2,24,67.6,57.3,0,0.90
629,2300594,/matches/2300594/g2-vs-astralis-game-show-glob...,2016-02-05,18:00:00,France,Denmark,G2,Astralis,/team/5995/g2,/team/6665/astralis,...,cajunb,/stats/players/2469/cajunb,11,8,4,22,69,46.7,-3,0.75
630,2300594,/matches/2300594/g2-vs-astralis-game-show-glob...,2016-02-05,18:00:00,France,Denmark,G2,Astralis,/team/5995/g2,/team/6665/astralis,...,dupreeh,/stats/players/7398/dupreeh,18,9,1,16,66.7,66.9,3,1.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34671,2322780,/matches/2322780/liquid-vs-astralis-esl-pro-le...,2018-05-20,20:20:00,North America,Denmark,Liquid,Astralis,/team/5973/liquid,/team/6665/astralis,...,Magisk,/stats/players/9032/Magisk,18,9,0,22,56.7,56.3,-4,0.76
34672,2322780,/matches/2322780/liquid-vs-astralis-esl-pro-le...,2018-05-20,20:20:00,North America,Denmark,Liquid,Astralis,/team/5973/liquid,/team/6665/astralis,...,Magisk,/stats/players/9032/Magisk,16,10,7,22,73.3,65.6,-1,0.92
34673,2322780,/matches/2322780/liquid-vs-astralis-esl-pro-le...,2018-05-20,20:20:00,North America,Denmark,Liquid,Astralis,/team/5973/liquid,/team/6665/astralis,...,Xyp9x,/stats/players/4954/Xyp9x,12,3,7,7,100,72.1,1,1.36
35734,2323569,/matches/2323569/liquid-vs-astralis-ecs-season...,2018-06-10,19:35:00,North America,Denmark,Liquid,Astralis,/team/5973/liquid,/team/6665/astralis,...,device,/stats/players/7592/device,17,6,4,20,59.3,73.8,0,0.90
35756,2323569,/matches/2323569/liquid-vs-astralis-ecs-season...,2018-06-10,19:35:00,North America,Denmark,Liquid,Astralis,/team/5973/liquid,/team/6665/astralis,...,dupreeh,/stats/players/7398/dupreeh,20,10,4,22,66.7,74,-4,0.90

In [25]:
data_astralis_away = data_astralis_away[['away_team_name', 'home_team_name','vote_ban','home_first_score', 'away_first_score']]

In [26]:
data_astralis_away.head()

,away_team_name,home_team_name,vote_ban,home_first_score,away_first_score
136,Astralis,fnatic,"\n ,\n ...",3,12
345,Astralis,mousesports,"\n ,\n ...",5,10
620,Astralis,G2,"\n ,\n ...",7,8
629,Astralis,G2,"\n ,\n ...",10,5
630,Astralis,G2,"\n ,\n ...",9,6

In [27]:
data_astralis_away['win'] = data_astralis_away.apply(lambda x: 1 if x['home_first_score'] >= x['away_first_score'] else 0, axis=1)

C:\Users\kunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
data_astralis_away.to_csv('Astralis_away_data.csv')

In [31]:
data_astralis_home.away_team_name.unique()

array(['Dignitas', 'Luminosity', 'Method', 'EnVyUs', 'CLG',
       'Natus Vincere', 'G2', 'FlipSid3', 'x6tence', 'fnatic',
       'Virtus.pro', 'Tempo Storm', 'mousesports', 'SK', 'Torpedo', 'NRG',
       'NiP', 'Gambit', 'CSGL', 'FaZe', 'OpTic', 'ENCE', 'TSM', 'Cloud9',
       'X', 'Tricked', 'Rogue', 'Heroic', 'Wizards', 'HellRaisers',
       'PENTA', 'NewStyle', 'ALTERNATE aTTaX', 'fish123', 'dd', 'GODSENT',
       'Liquid', 'TYLOO', 'compLexity', 'LDLC', 'Immortals', 'North',
       'Kinguin', 'Chiefs', 'Renegades', 'BIG', 'HOLLYWOOD', 'AGO',
       'Space Soldiers'], dtype=object)

In [34]:
sum(data_astralis_home.win)/data_astralis_home.shape[0]

0.6596385542168675

In [35]:
sum(data_astralis_away.win)/data_astralis_away.shape[0]

0.38235294117647056

In [39]:
data_astralis_away_won = data_astralis_away[data_astralis_away['win'] ==1]

In [43]:
data_astralis_away.home_team_name.unique()

array(['fnatic', 'mousesports', 'G2', 'Natus Vincere', 'FlipSid3',
       'EnVyUs', 'Dignitas', 'Virtus.pro', 'E-frag.net', 'FaZe', 'SK',
       'NiP', 'CLG', 'NRG', 'X', 'TYLOO', 'HellRaisers', 'PENTA',
       'Immortals', 'GODSENT', 'OpTic', 'Liquid', 'LDLC', 'Heroic',
       'North', 'Kinguin', 'Renegades', 'Cloud9', 'BIG', 'TheMongolz',
       'AGO', 'Space Soldiers', 'Gambit'], dtype=object)

In [48]:
d = data_astralis_away_won.groupby('home_team_name').count()

In [46]:
data_astralis_home_won = data_astralis_home[data_astralis_home['win'] ==1]

In [49]:
f = data_astralis_home_won.groupby('away_team_name').count()

In [52]:
d.sort_values(by = 'win', ascending=False)

,away_team_name,vote_ban,home_first_score,away_first_score,win
home_team_name,,,,,
FaZe,13,13,13,13,13
G2,9,9,9,9,9
Natus Vincere,8,8,8,8,8
fnatic,8,8,8,8,8
EnVyUs,8,8,8,8,8
NiP,8,8,8,8,8
Virtus.pro,7,7,7,7,7
SK,5,5,5,5,5
mousesports,4,4,4,4,4
CLG,3,3,3,3,3
Liquid,3,3,3,3,3
HellRaisers,3,3,3,3,3
Dignitas,3,3,3,3,3
Cloud9,2,2,2,2,2
Heroic,2,2,2,2,2
Immortals,1,1,1,1,1
North,1,1,1,1,1
Renegades,1,1,1,1,1
TYLOO,1,1,1,1,1
NRG,1,1,1,1,1

In [53]:
f.sort_values(by = 'win', ascending=False)

,home_team_name,vote_ban,home_first_score,away_first_score,win
away_team_name,,,,,
Liquid,17,17,17,17,17
G2,16,16,16,16,16
mousesports,15,15,15,15,15
fnatic,15,15,15,15,15
FaZe,15,15,15,15,15
NiP,14,14,14,14,14
Dignitas,13,13,13,13,13
Virtus.pro,13,13,13,13,13
EnVyUs,10,10,10,10,10
Heroic,8,8,8,8,8
SK,8,8,8,8,8
Natus Vincere,6,6,6,6,6
Gambit,6,6,6,6,6
CLG,5,5,5,5,5
GODSENT,5,5,5,5,5
North,4,4,4,4,4
NRG,4,4,4,4,4
Cloud9,4,4,4,4,4
OpTic,3,3,3,3,3
NewStyle,2,2,2,2,2
FlipSid3,2,2,2,2,2
Torpedo,2,2,2,2,2
Tricked,2,2,2,2,2
ENCE,2,2,2,2,2
Space Soldiers,2,2,2,2,2
Method,2,2,2,2,2
Luminosity,2,2,2,2,2
LDLC,2,2,2,2,2
dd,1,1,1,1,1
X,1,1,1,1,1
compLexity,1,1,1,1,1
Wizards,1,1,1,1,1
Tempo Storm,1,1,1,1,1
fish123,1,1,1,1,1
TYLOO,1,1,1,1,1
AGO,1,1,1,1,1
Rogue,1,1,1,1,1
Renegades,1,1,1,1,1
PENTA,1,1,1,1,1
ALTERNATE aTTaX,1,1,1,1,1
Kinguin,1,1,1,1,1
Immortals,1,1,1,1,1
HellRaisers,1,1,1,1,1
HOLLYWOOD,1,1,1,1,1
Chiefs,1,1,1,1,1
CSGL,1,1,1,1,1
BIG,1,1,1,1,1
x6tence,1,1,1,1,1

In [57]:
columns = list(data.columns)

In [58]:

columns

['match_id',
 'match_link',
 'match_date',
 'match_time',
 'home_team_country',
 'away_team_country',
 'home_team_name',
 'away_team_name',
 'home_team_link',
 'away_team_link',
 'match_notes',
 'match_demo_link',
 'tournament_id',
 'tournament_link',
 'vote_ban',
 'map',
 'home_team_id',
 'away_team_id',
 'home_team_side',
 'away_team_side',
 'home_first_score',
 'away_first_score',
 'home_second_score',
 'away_second_score',
 'home_team_score',
 'away_team_score',
 'stats_link',
 'home_first_kills',
 'away_first_kills',
 'home_clutches_won',
 'away_clutches_won',
 'ht_p1_id',
 'ht_p1_name',
 'ht_p1_link',
 'ht_p1_kills',
 'ht_p1_headshots',
 'ht_p1_asists',
 'ht_p1_deaths',
 'ht_p1_kast',
 'ht_p1_adr',
 'ht_p1_fk_diff',
 'ht_p1_rating20',
 'ht_p2_id',
 'ht_p2_name',
 'ht_p2_link',
 'ht_p2_kills',
 'ht_p2_headshots',
 'ht_p2_asists',
 'ht_p2_deaths',
 'ht_p2_kast',
 'ht_p2_adr',
 'ht_p2_fk_diff',
 'ht_p2_rating20',
 'ht_p3_id',
 'ht_p3_name',
 'ht_p3_link',
 'ht_p3_kills',
 'ht_p3_headshots',
 'ht_p3_asists',
 'ht_p3_deaths',
 'ht_p3_kast',
 'ht_p3_adr',
 'ht_p3_fk_diff',
 'ht_p3_rating20',
 'ht_p4_id',
 'ht_p4_name',
 'ht_p4_link',
 'ht_p4_kills',
 'ht_p4_headshots',
 'ht_p4_asists',
 'ht_p4_deaths',
 'ht_p4_kast',
 'ht_p4_adr',
 'ht_p4_fk_diff',
 'ht_p4_rating20',
 'ht_p5_id',
 'ht_p5_name',
 'ht_p5_link',
 'ht_p5_kills',
 'ht_p5_headshots',
 'ht_p5_asists',
 'ht_p5_deaths',
 'ht_p5_kast',
 'ht_p5_adr',
 'ht_p5_fk_diff',
 'ht_p5_rating20',
 'at_p1_id',
 'at_p1_name',
 'at_p1_link',
 'at_p1_kills',
 'at_p1_headshots',
 'at_p1_asists',
 'at_p1_deaths',
 'at_p1_kast',
 'at_p1_adr',
 'at_p1_fk_diff',
 'at_p1_rating20',
 'at_p2_id',
 'at_p2_name',
 'at_p2_link',
 'at_p2_kills',
 'at_p2_headshots',
 'at_p2_asists',
 'at_p2_deaths',
 'at_p2_kast',
 'at_p2_adr',
 'at_p2_fk_diff',
 'at_p2_rating20',
 'at_p3_id',
 'at_p3_name',
 'at_p3_link',
 'at_p3_kills',
 'at_p3_headshots',
 'at_p3_asists',
 'at_p3_deaths',
 'at_p3_kast',
 'at_p3_adr',
 'at_p3_fk_diff',
 'at_p3_rating20',
 'at_p4_id',
 'at_p4_name',
 'at_p4_link',
 'at_p4_kills',
 'at_p4_headshots',
 'at_p4_asists',
 'at_p4_deaths',
 'at_p4_kast',
 'at_p4_adr',
 'at_p4_fk_diff',
 'at_p4_rating20',
 'at_p5_id',
 'at_p5_name',
 'at_p5_link',
 'at_p5_kills',
 'at_p5_headshots',
 'at_p5_asists',
 'at_p5_deaths',
 'at_p5_kast',
 'at_p5_adr',
 'at_p5_fk_diff',
 'at_p5_rating20']

In [59]:
data_astralis = data[data['home_team_name'] == 'Astralis']

In [100]:
player_name = ['dupreeh', 'device', 'Xyp9x','gla1ve', 'Magisk']

In [79]:
player_data = pd.DataFrame(columns = ['Against','Name', 'Kills', 'Headshots', 'Asists', 'Deaths', 'Rating'])

In [97]:
new_data_columns = ['Against','Name', 'Kills', 'Headshots', 'Asists', 'Deaths', 'Rating']

In [108]:
columns = ['away_team_name','ht_p1_name', 'ht_p1_kills', 'ht_p1_headshots', 'ht_p1_asists', 'ht_p1_deaths', 'ht_p1_rating20']
player_data = pd.DataFrame(columns = ['Against','Name', 'Kills', 'Headshots', 'Asists', 'Deaths', 'Rating'])
col = 'ht_p1_name'
for i in player_name:
    for j in range(1,6):
        current_col = col.replace('1',str(j))
        columns_temp = [ i.replace('1', str(j)) for i in columns]
        data_astralis_temp = data_astralis[data_astralis[current_col] == i][columns_temp]
        data_astralis_temp = data_astralis_temp[columns_temp]
        data_astralis_temp.columns = new_data_columns
        player_data = pd.concat([player_data, data_astralis_temp])

In [113]:
player_data[player_data['Kills'] == max(player_data['Kills'])]

      Against    Name Kills Headshots Asists Deaths  Rating
29362    FaZe  device    45        13      2     29    1.53

In [119]:
player_data = player_data.astype({'Kills': 'int32','Headshots': 'int32','Asists': 'int32','Deaths': 'int32'})

In [120]:
player_data.dtypes

Against       object
Name          object
Kills          int32
Headshots      int32
Asists         int32
Deaths         int32
Rating       float64
dtype: object

In [134]:
for i in player_name:
    data_temp = player_data[player_data['Name'] == i]
    data_temp = data_temp.sort_values(by = 'Kills', ascending = False)
    print(i)
    print('\n \n')
    print(data_temp.head())
    print('\n \n')
    print(data_temp.describe())
    print('\n \n')

dupreeh



             Against     Name  Kills  Headshots  Asists  Deaths  Rating
3585             NiP  dupreeh     37         28       0      22    1.66
26879         Liquid  dupreeh     36          3       2      27    1.21
29362           FaZe  dupreeh     35         20       4      26    1.30
37042             G2  dupreeh     34         10       4      19    1.48
25445  Natus Vincere  dupreeh     34         21       7      21    1.48



            Kills   Headshots      Asists      Deaths      Rating
count  329.000000  329.000000  329.000000  329.000000  329.000000
mean    19.413374    9.781155    4.033435   16.468085    1.208511
std      5.551253    3.887222    2.148902    5.120474    0.322064
min      2.000000    0.000000    0.000000    4.000000    0.360000
25%     16.000000    7.000000    2.000000   13.000000    1.010000
50%     19.000000   10.000000    4.000000   17.000000    1.180000
75%     23.000000   12.000000    5.000000   20.000000    1.420000
max     37.000000   28.000000   11.000000   34.000000    2.160000



device



          Against    Name  Kills  Headshots  Asists  Deaths  Rating
29362        FaZe  device     45         13       2      29    1.53
12652        LDLC  device     37          9       5      33    1.20
37592      Cloud9  device     36          7       4      19    1.63
31573         NiP  device     34          9       5      22    1.40
3621   Luminosity  device     34          7       2      18    1.79



            Kills   Headshots      Asists      Deaths      Rating
count  315.000000  315.000000  315.000000  315.000000  315.000000
mean    20.228571    6.647619    3.342857   15.523810    1.265810
std      5.978076    3.133894    2.100175    5.042675    0.364743
min      6.000000    1.000000    0.000000    4.000000    0.360000
25%     16.000000    4.000000    2.000000   12.000000    1.025000
50%     20.000000    6.000000    3.000000   16.000000    1.260000
75%     24.000000    9.000000    5.000000   19.000000    1.450000
max     45.000000   15.000000   13.000000   33.000000    2.750000



Xyp9x



           Against   Name  Kills  Headshots  Asists  Deaths  Rating
12652         LDLC  Xyp9x     42         16       7      27    1.36
17126  mousesports  Xyp9x     34         16       6      29    1.11
5034      Dignitas  Xyp9x     31         12       5      16    1.63
26432        North  Xyp9x     30          6       5      19    1.35
4405           NRG  Xyp9x     28          7       5      22    1.14



            Kills   Headshots      Asists      Deaths      Rating
count  332.000000  332.000000  332.000000  332.000000  332.000000
mean    17.021084    6.990964    4.825301   15.530120    1.122349
std      5.164032    2.871347    2.542608    5.218691    0.302431
min      2.000000    0.000000    0.000000    3.000000    0.360000
25%     14.000000    5.000000    3.000000   11.750000    0.900000
50%     17.000000    7.000000    5.000000   16.000000    1.110000
75%     20.000000    9.000000    6.000000   19.000000    1.322500
max     42.000000   16.000000   13.000000   32.000000    2.410000



gla1ve



         Against    Name  Kills  Headshots  Asists  Deaths  Rating
23334        BIG  gla1ve     34         12       9      22    1.41
12652       LDLC  gla1ve     33         18       8      31    1.08
19417  Immortals  gla1ve     31         14       2      22    1.34
22096     Liquid  gla1ve     30         15       9      23    1.24
30951       FaZe  gla1ve     29         12       8      20    1.26



            Kills   Headshots      Asists      Deaths      Rating
count  214.000000  214.000000  214.000000  214.000000  214.000000
mean    16.934579    7.654206    5.560748   16.537383    1.094065
std      5.234000    3.013593    2.670224    5.244806    0.305463
min      2.000000    0.000000    0.000000    4.000000    0.460000
25%     14.000000    6.000000    4.000000   12.000000    0.890000
50%     17.000000    8.000000    5.000000   17.000000    1.070000
75%     20.000000   10.000000    7.000000   20.000000    1.270000
max     34.000000   18.000000   15.000000   33.000000    2.020000



Magisk



             Against    Name  Kills  Headshots  Asists  Deaths  Rating
33921    mousesports  Magisk     37         23       3      22    1.68
34170         Gambit  Magisk     31         16       1      13    2.02
32718  Natus Vincere  Magisk     27         19       5      20    1.26
37592         Cloud9  Magisk     26         11      11      21    1.17
31192    HellRaisers  Magisk     26         10       7      24    1.07



           Kills  Headshots     Asists     Deaths     Rating
count  72.000000  72.000000  72.000000  72.000000  72.000000
mean   18.833333   9.305556   4.902778  15.638889   1.227500
std     5.167613   3.566822   2.386344   4.682318   0.316307
min     6.000000   2.000000   1.000000   5.000000   0.650000
25%    15.000000   7.000000   3.000000  13.000000   1.055000
50%    19.000000   9.000000   4.000000  16.000000   1.155000
75%    22.000000  11.000000   6.000000  19.250000   1.392500
max    37.000000  23.000000  14.000000  26.000000   2.020000